/* Navbar */

.burger-menu li {
  list-style: none;
  padding: 30px;
}

.navbar {
  display: none;
}

.close-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(103%) contrast(102%);
  zoom: 170%;
  position: absolute;
  left: 85%;
  bottom: 85%;
}

.burger {
  position: absolute;
  left: 85%;
  bottom: 20%;
  zoom: 170%;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(103%) contrast(102%);
}

.hidden {
  display: none;
}

.burger-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}


.navbar-container {
  display: flex;
  position: fixed;
  background: linear-gradient(100deg, #007655, rgb(140, 254, 211));
  width: 100%;
  top: 0;
  z-index: 99;
}

/* Register form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form-element {
  padding: 10px;
}

.input {
  padding: 5px;
  border-style: hidden hidden solid hidden;
}

.input:focus {
  outline: none;
}

.btn {
  width: 100px;
  border-style: hidden;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #007655;
}

.btn:hover {
  background-color: #025c42;
}

/* Spinner */

@keyframes text-color {
  0% {
    color: rgba(106, 106, 106, 0.526)
  }

  50% {
    color: rgba(106, 106, 106, 0.821)
  }

  100% {
    color: rgba(106, 106, 106, 0.526)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  animation: text-color 2s ease-in-out alternate;
}

.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner::before {
  border-left-color: #007655;
  --duration: 2s;
  --timing: ease-in;
}

.spinner::after {
  border-right-color: #025c42;
  --duration: 2.5s;
  --timing: ease-out;
}

/* Profile */

.contact-card {
  border: 1px solid rgb(208, 208, 208);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 20px;
  margin-top: 50px;
  flex-flow: row wrap;
}

.checkbox {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.contact-input {
  padding: 5px;
  border-style: hidden hidden solid hidden;
  width: 300px;
}

/* Hero */

.hero-rect {
  margin-top: 150px;
  margin-left: 50px;
  background: linear-gradient(130deg, #007655, rgb(140, 254, 211));
  box-shadow: -50px -30px rgba(215, 215, 215, 0.492);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.home-container {
  display: flex;
  margin: 50px;
  flex-direction: column;
}

.hero-paragraph {
  color: white;
  font-family: sans-serif;
  width: 80%;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}

.form-container-home {
  display: flex;
  flex-direction: column;

}

@media (min-width: 1200px) {

  .navbar-container {
    display: flex;
    position: fixed;
    background: linear-gradient(100deg, #007655, rgb(140, 254, 211));
    width: 100%;
    top: 0;
    z-index: 99;
  }

  .burger-style {
    display: none;
  }

  .navbar {
    display: flex;
    position: relative;
    left: 20%;
  }

  .navbar li {
    list-style: none;
    padding: 30px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .navbar li a:hover {
    transform: scale(105%)
  }

  .hero-rect {
    margin-top: 300px;
    margin-left: 200px;
    background: linear-gradient(130deg, #007655, rgb(140, 254, 211));
    box-shadow: -50px -30px rgba(215, 215, 215, 0.492);
    display: flex;
    justify-content: center;
    grid-column: 1 / 1;
    grid-row: 1 / 6;
  }
  
  .home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-template-rows: repeat(10, 100px);
  }
  
  .hero-paragraph {
    color: white;
    font-family: sans-serif;
    width: 80%;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
  }
  
  .form-container-home {
    grid-column: 2 / 3;
    grid-row: 4 / 8;
  }

  .contact-input {
    width: 500px;
  }

}



/* Footer */

.footer {
  height: 150px;
  background-color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
}

.select {
  border-style: hidden;
  background-color: rgba(214, 214, 214, 0)
}

.select:focus {
  outline: none;
}

.preview {
  border: 1px solid rgb(218, 218, 218);
  padding: 20px;
}

.italic {
  font-style: italic
}

.form-account {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
}

.details {
  margin-top: 200px;
  margin-left: 50px;
}

.details-page {
  display: flex;
  justify-content: space-around;
}

.form-account-update {
  margin-top: 200px;
  margin-bottom: 50px;
}