<div>
    <h3 style="color: #007655">Sveiki, {{name}} tėveliai,</h3>
    <p>Siunčiu Jums sąskaitą ir prašau apmokėti už {{month}} mėn. būrelį "Dailės Studija". Dėkoju, kad suteikiate savo vaikui galimybę lankyti "Dailės Studiją"</p>
    <p>Bankas: Luminor</p>
    <p>Gavėjas: Benjaminas Ančeris</p>
    <p>Sąskaitos nr.: LT944010051004317726</p>
    <p>Kaina: 20 Eur</p>
    <P>Mokėjimo paskirtyje nurodykite vaiko vardą ir už kurį mėnesį mokate.</P>
    <p>Pagarbiai,</p>
    <p>"Dailės Studija" vadovas Benjaminas</p>
    <p>8656152250</p>
</div>