<div>
    <h1 style="color: #A668A7">Verify your email address</h1>
    <p>
        Hi, {{username}}! Please verify your email address by clicking the link below:
    </p>
    <h4>{{verifyUrl}}</h4>
    <p>
        The link will expire in 15 minutes.
    </p>
</div>